.h-wrapper{
    color: white;
}

.h-container{
    justify-content: space-between;
    padding: 1rem 0rem;
    color: var(--secondary);
}

.h-menu{
    gap: 2rem;
}

.h-menu>*:hover{
    cursor: pointer;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

#sidebar-check{
    display: none;
}

@media screen and (max-width: 768px){
    .close-sidebar-button{
        display: block;
        color: var(--primary);
        margin: 20px 0px;
    }

    .open-sidebar-button{
        display: block;
    }

    #sidebar-check:checked ~ .h-menu{
        right: 0;
    }

    .h-menu{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 10;
        width: 60%;
        background-color: black;
        color: white;
        height: 100vh;
        top: 0;
        right: -100%;
        position: fixed;
        box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.50);
        transition: 0.5s ease-out;
        padding-left: 30px;
    }
}